.user-container{
    .title{
        color: aquamarine;
    }
    .list-user{
        li{
            height: 40px;
            width: 400px;
            border-top:1px solid aliceblue;
            //justify-content: center;
            margin: 0 auto;
        }
    }
}